.bg-image{
background-image: url(../assets/img/gambar2.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 600px;
display: flex;
justify-content: center;
align-items: center;
}